<?xml version="1.0"?>
<config>
    <modules>
        <Lightspeed_Syncproducts>
            <version>1.0.0.0.1</version>
        </Lightspeed_Syncproducts>
    </modules>
    <global>
        <helpers>
            <lightspeed_syncproducts>
                <class>Lightspeed_Syncproducts_Helper</class>
            </lightspeed_syncproducts>
        </helpers>
        <blocks>
            <lightspeed>
                <class>Lightspeed_Syncproducts_Block</class>
            </lightspeed>
        </blocks>
        <models>
            <lightspeed_syncproducts>
                <class>Lightspeed_Syncproducts_Model</class>
            </lightspeed_syncproducts>
        </models>
        <resources>
            <syncproducts_setup>
                <setup>
                    <module>Lightspeed_Syncproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </syncproducts_setup>
            <syncproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </syncproducts_write>
        </resources>
        <events>
            <sales_order_payment_pay>
                <observers>
                    <lightspeed_syncproducts_model_order_observer>
                        <type>singleton</type>
                        <class>lightspeed_syncproducts/order_observer</class>
                        <method>syncOrderAfterPayment</method>
                    </lightspeed_syncproducts_model_order_observer>
                </observers>
            </sales_order_payment_pay>
            <sales_order_place_after>
                <observers>
                    <lightspeed_syncproducts_model_order_observer>
                        <type>singleton</type>
                        <class>lightspeed_syncproducts/order_observer</class>
                        <method>syncOrderAfterPlacement</method>
                    </lightspeed_syncproducts_model_order_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lightspeed_Syncproducts after="Mage_Adminhtml">Lightspeed_Syncproducts</Lightspeed_Syncproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lightspeed_syncproducts>
                    <file>lightspeed_syncproducts.xml</file>
                </lightspeed_syncproducts>
            </updates>
        </layout>
    </adminhtml>
</config>
